@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/images1/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts1/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/css1/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css1/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/assets/images1/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title">
                        <div>Qeydiyyat</div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Ad daxil edin!!!">
                        <input class="input100" asp-for="Name" placeholder="AD">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                        <div class="wrap-input100 validate-input" data-validate="Soyad daxil edin!!!">
                            <input class="input100" asp-for="SurName" placeholder="Soyad">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </span>
                            <span asp-validation-for="SurName" class="text-danger"></span>

                        </div>
                    <div class="wrap-input100 validate-input" data-validate="İstifadəçi adı daxil edin!!!">
                        <input class="input100" asp-for="UserName" placeholder="İstifadəçi adı">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Emaili Düzgün daxil edin!!!">
                        <input class="input100" asp-for="Email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Parol daxil edin!!!">
                        <input class="input100" asp-for="Password" placeholder="Parol">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Parol daxil edin!!!">
                        <input class="input100" asp-for="ConfirmPassword" placeholder="Təkrar Parol Daxil Edin!!!">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Qeydiyyatdan keç
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">

                        </span>
                        <a class="txt2" asp-controller="account" asp-action="login">
                            Geri Dön
                        </a>
                    </div>


                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/assets/js1/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
