/* Reverse */
*,
::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    position: relative;

}
.reverse-generator{
}
.containerrv{
    position: relative;
    width: 600px;
    height: 428px ;
    left: 400px;
    top: 140px;
    border-radius: 10px;
    padding: 10px 50px;
    flex-direction: column;
    box-shadow: 0 0 30px red;
    background-color: hsl(0deg 0% 0% / 69%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
   
.containerrv input {
    padding: 5px 10px;

    font-size: 1.5rem;
    border: none;
    font-weight: bold;
}

 .containerrv input[type='text']{
   
    margin: 1rem auto;
    outline: none;
    border-radius: 3px ;
}
.btn{
    background: #044;
    color: white;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 5px 10px -2px rgb(144, 4, 4);
    cursor: pointer;
    width: 170px;
}
.btn:hover{
    color: red !important;
}

.btn:focus{
    transform: scale(.9);
    box-shadow: 0 3px 10px -2px gray;
}
textarea{
    background: transparent;
    outline: none;
    border-radius: 5px;
    text-align: center;
    transform: scale(1.5);
    position: relative;
    top: 10px;
    cursor: pointer;
    color: wheat !important;
    height: 27px;
    width: 300px;
}
#input{
    margin-top: 70px;
}
